.form{
	padding: 50px;
/* 	border: black solid thick; */
	width: auto;
	border-radius: 0px 0px 5px 5px		;
	margin: auto;
}
 
.login-btn{
	width: auto;
	margin: 10px auto;
}

.headerTitle{
	display: block;
	margin: 50px auto;
}

.default-box-header {
    background-color: #58545d;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -1px;
    line-height: 35px;
    padding: 0 15px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    border: solid 1px #4c4854;
 }

 #login-error{
    color: #ED4545;
 }

 body{
    /* background-color: red; */
    background-size: cover;
}